<div class="tab-pane font_size_18" id="settings">
    <div class="col-md-4 col-md-offset-8"><h3>{{'ScheduledWorkours' | translate}}</h3></div>
    <div class="col-md-4">
        <div class="margin_bottom_10">
            <input id="show_compensation" type="checkbox" name="my-checkbox"><span
                class="padding_left_5">{{'UseSaturdayHoursAsTFT' | translate}}</span>

        </div>

    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" ng-model="timeForTimeRegulation" name="date"
               bs-datepicker
               placeholder="{{'StartTFTRegulation' | translate}}" ng-disabled="true">

    </div>
    <div class="col-md-4">
        <div ng-repeat="promisedHour in promisedHours">
            <!--<input ng-repeat="day in days" id="settings_{{day.settingsDay}}" type="text" class="form-control margin_bottom_10 positive-integer"  placeholder="{{day.day}}">-->
            <input ng-model="promisedHour.date"

                   id="" type="text" class="form-control margin_bottom_10 positive-integer"
                   placeholder="{{'WeekDays.' + $index | translate}}" max-length-p="1" valid-number="" ng-disabled="!active">
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="col-xs-12 padding_fix text-center"><label>{{'Period' | translate}}</label>
            </div>
            <div class="form-group">
                <div class="form-group col-xs-6">
                    <p class="text-center" id="start_period">{{start}}</p>
                </div>
                <div class="form-group col-xs-6">
                    <p class="text-center" id="end_period">{{end}}</p>
                </div>
            </div>
        </div>
    </div>
    <button id="setting_save" class="btn btn-success margin_top_10 col-md-4 pull-right"
            ng-click="save()" ng-disabled="isDisabled() || !active">{{'Save' | translate}}
    </button>
</div>