<style>
    body {
        background: url(../resources/img/1.jpg) no-repeat center center fixed;
        background-size: cover;
    }
</style>

<div ng-controller="AlertCtrl" id="login-tab">

    <div class="container" id="alerts-container" style="position: absolute; margin: 0 25%; width: 50%"></div>

    <div class="container" >
        <div class="row" >

            <div class="pull-right" ng-controller="LanguageCtrl">
                <div class="btn-group" ng-model="button.radio" bs-radio-group>
                    <label class="btn btn-default" ng-click="changeLocale('nl')"><input type="radio"
                                                                                        class="btn btn-default"
                                                                                        value="{{pr.locale == 'nl' ? 0 : 1}}">NL</label>
                    <label class="btn btn-default" ng-click="changeLocale('en')"><input type="radio"
                                                                                        class="btn btn-default"
                                                                                        value="{{pr.locale == 'en' ? 0 : 1}}">EN</label>
                </div>
            </div>


            <div class="col-lg-8 col-lg-offset-2 margin_top_10_proc">
                <ul class="nav nav-tabs autorization_tabs" role="tablist">
                    <li ui-sref-active="active">
                        <a ui-sref="index.login">{{'Login' | translate}}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="index.reg">{{'Registration' | translate}}</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div ui-view></div>
                    <!--  </div>-->

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="form-horizontal" data-toggle="validator" role="form">
                    <div class="form-group margin_fix">
                        <div class="modal-body">
                            <div class="col-sm-12">
                                <input type="email" class="form-control" id="inputForgotPassword"
                                       placeholder="{{'EnterYourEmail' | translate}}"
                                       data-error="{{'InvalidEmail' | translate}}" required>

                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button id="btn-forgot-password" type="button" class="btn btn-success btn-block font_size_18">
                        {{'SendPassword' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
