<!DOCTYPE html>
<html lang="ru" ng-app="mgcrea.ngStrapDocs">
  <head>
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Drive Tracking</title>
    <link href="resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="resources/css/librares.min.css" rel="stylesheet">
    <link href="resources/css/angular-motion.css" rel="stylesheet">
    <link href="resources/css/style.css" rel="stylesheet">
    <link href="resources/css/bootstrap-switch.css" rel="stylesheet">
    <link href="resources/css/bootstrap-clockpicker.min.css" rel="stylesheet">    
    <script src="resources/js/angular.js"></script>
    <script src="resources/js/angular-ui-router.js"></script>
    <script src="resources/js/angular-translate.js"></script>
    <script src="resources/js/app.js"></script>
    <script src="resources/js/i18n.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
		<div class="container-fluid padding_fix">
		  <div ui-view></div>
			<div class="col-md-12 padding_fix">
			<div class="append_alert">			    
			</div>
       <div class="col-md-12 padding_fix">
       <div class="panel panel-default">
       <div class="panel-heading padding_panel">
<ul class="nav nav-tabs nav-pills" role="tablist" id="myTab">
  <li role="presentation" class="active"><a data-target="#home" role="tab" data-toggle="tab">{{'Home' | translate}}</a></li>
  <li role="presentation" class="hide_tabs"><a role="tab" data-target="#Time" data-toggle="tab" >{{'Time' | translate}}</a></li>
  <li role="presentation" class="hide_tabs"><a data-target="#sheet_overview" role="tab" data-toggle="tab">{{'Overview' | translate}}</a></li>
  <li role="presentation" class="hide_tabs"><a data-target="#declaretion" role="tab" data-toggle="tab">{{'Declaration' | translate}}</a></li>
  <li role="presentation"><a data-target="#settings" role="tab" data-toggle="tab">{{'Settings' | translate}} </a></li>
    <div class="btn-group pull-right padding_left_10 padding_top_5">
        <a class="btn btn-default" ui-sref="nl">NL</a>
        <a class="btn btn-default" ui-sref="en">EN</a>
      </div>
      <a id="logout" class="btn btn-danger pull-right col-md-1 col-xs-12 margin_top_5" >{{'Logout' | translate}}</a>
</ul>
     
 </div>
  <div class="panel-body">

<div class="tab-content">
<div class="tab-pane active" id="home">
    <div class="well well-sm">
        <dl class="dl-horizontal margin_fix">
            <dt>{{ 'Name' | translate }}:</dt>
            <dd class="username"></dd>
        </dl>
    </div>
    <div class="well well-sm">
        <dl class="dl-horizontal margin_fix">
            <dt>{{ 'RegNum' | translate }}:</dt>
            <dd id="registrationNumber"></dd>
        </dl>
    </div>
    <div class="well well-sm">
        <dl class="dl-horizontal margin_fix">
            <dt>{{ 'Date' | translate }}:</dt>
            <dd id="userdate"></dd>
        </dl>
    </div>
</div>
<div class="tab-pane" id="Time" ng-controller="time_tab_controller">
    <div class="row col-xs-12 padding_fix">
        <div class="form-group col-md-4" ng-class="">
            <input id="time_week_date" type="text" class="form-control" ng-model="selectedDate" name="date" bs-datepicker
                   data-min-date="{{$root.minDate}}" data-max-date="{{$root.maxDate}}">
        </div>
        <div class="col-md-1 col-xs-6 margin_bottom_10">
            <button id="date_submit" class="btn btn-warning btn-block" ng-click="applyDate()">{{ 'Apply' | translate }}</button>
        </div>
        <div class="col-md-2 col-xs-6 margin_bottom_10">
            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">
                {{ 'OverTrip' | translate }}
            </button>
        </div>
        <div class="col-md-3 col-xs-6 margin_bottom_10">
            <dl class="dl-horizontal margin_fix padding_top_5 font_size_16">
                <dt>{{ 'AvailableTFT' | translate }}:</dt>
                <dd id='compensation_time_avaliable'>{{timeForTime}}</dd>
            </dl>
        </div>
        <div class="col-md-1 col-xs-12 col-md-offset-1">
            <button id="date_save" type="button" class="btn btn-success btn-block" ng-click="save()">{{ 'Save' | translate }}</button>
        </div>
        <hr class="col-xs-12 padding_fix margin_top_fix">
    </div>
    <div ng-repeat="day in days">
        <div ng-repeat="workHour in day.workHours">
            <div class="row col-xs-12 time_tab" ng-hide="isActiveWorkHourHide($parent.$index, $index)">
                <div class="col-md-4 col-xs-12 padding_gorizontal_fix">
                    <div class="col-md-4 col-xs-12 text-center font_size_18 time_date" ng-show="$index == 0">{{day.date}}</div>
                    <div class="col-md-4 col-xs-12 text-center font_size_18 time_day padding_bottom_10" ng-show="$index == 0">
                        {{ 'WeekDays.' + $parent.$index | translate }}
                    </div>
                    <div class="col-md-4 col-xs-12 padding_gorizontal_fix padding_bottom_10" ng-class="{'col-md-offset-8': $index != 0}">
                        <input class="form-control time_monday_start" maxlength="5" number-mask
                               placeholder="{{ 'Start' | translate }}" ng-model="workHour.startWorkingTime" timepicker
                               ng-show="active" ng-change="rowChanged($parent.$index)" data-ng-disabled="dayTypeIsDisabled($parent.$index, $index)">
                        <div class="font_size_18" ng-show="!active">
                            {{workHour.startWorkingTime}}
                        </div>
                    </div>
                </div>
                <div class="col-md-3 form-group col-xs-12 padding_gorizontal_fix margin_bottom_10">
                    <div class="col-md-6 col-xs-12 padding_bottom_10">
                        <input class="form-control clockpicker time_monday_end" maxlength="5" number-mask
                               placeholder="{{ 'End' | translate }}" ng-model="workHour.endWorkingTime" timepicker
                               ng-show="active" ng-change="rowChanged($parent.$index)" data-ng-disabled="dayTypeIsDisabled($parent.$index, $index)">
                        <div class="font_size_18" ng-show="!active">
                            {{workHour.endWorkingTime}}
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <input type="text" class="form-control time_monday_rest positive-integer" min="0" max="3"
                               number-mask="" placeholder="{{ 'RestMin' | translate }}" maxlength="3" number-mask
                               ng-model="workHour.restTime" ng-show="active" ng-change="rowChanged($parent.$index)"
                               data-ng-disabled="dayTypeIsDisabled($parent.$index, $index)">
                        <div class="font_size_18" ng-show="!active">
                            {{workHour.restTime}}
                        </div>
                    </div>
                </div>
                <div class="col-md-5 form-group col-xs-12 padding_gorizontal_fix margin_bottom_10">
                    <div class="col-md-4" ng-show="$index == 0">
                        <select class="form-control type_food"
                                ng-model="workHour.dayType"
                                ng-options="dayType.val as dayType.description for dayType in dayTypes" ng-show="active" ng-change="rowChanged($parent.$index)"></select>
                        <div class="font_size_18" ng-show="!active">
                            {{dayTypes[workHour.dayType].description}}
                        </div>

                    </div>
                    <div class="col-md-4 add_row_monday" ng-show="($index == 0 && active)">
                        <button type="button" class="btn btn-warning btn-block "  ng-click="addRow($parent.$index)">{{ 'AnotherTrip' | translate }}</button>
                    </div>
                    <div class="col-md-4 add_row_monday" ng-show="$index > 0 && active" ng-class="{'col-md-offset-4': $index != 0}">
                        <button type="button" class="btn btn-danger btn-block time_tab_del" ng-click="removeRow($parent.$index, $index)" >{{ 'Delete' | translate }}</button>
                    </div>

                    <div class="col-md-4 font_size_18 text-center padding_fix" ng-show="$index == 0">
                        {{ 'TotalWorked' | translate }} <span id="total_time_monday">
                       {{daysTotalTime[$parent.$index].h}}h {{daysTotalTime[$parent.$index].m}}m
                   </span>
                    </div>
                </div>
            </div>
        </div>
        <hr class="col-xs-12 margin_top_fix padding_fix">
    </div>
    <div class="row col-xs-12">
        <div class="col-md-6">
            <p class="font_size_18">{{ 'TotalWorkedMonFri' | translate }}: <span id="total_mon_fri">{{totalMonFri.h}}h {{totalMonFri.m}}m</span></p>
        </div>
        <div class="col-md-6">
            <p class="font_size_18">{{ 'TotalOverHours' | translate }}: <span id="total_over_hours">{{overTime.h}}h {{overTime.m}}m</span></p>

        </div>
        <div class="col-md-12">
            <p class="font_size_18">{{ 'TotalWorkedSaturday' | translate }}: <span id="total_saturday">{{daysTotalTime[5].h}}h {{daysTotalTime[5].m}}m</span></p>

        </div>
        <div class="col-md-12">
            <p class="font_size_18">{{ 'TotalWorkedSunday' | translate }}: <span id="total_sunday">{{daysTotalTime[6].h}}h {{daysTotalTime[6].m}}m</span></p>

        </div>
    </div>
    <div  class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form class="modal-content" name="overNightForm">
                <div class="modal-header">
                    <button id="modal_close" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ 'OverTrip' | translate }}</h4>
                </div>
                <div id="multitripform" class="modal-body">
                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <input id="time_week_date_modal1" type="text" class="form-control" ng-model="overNight.start.date"
                                   name="date" bs-datepicker placeholder="{{ 'StartDate' | translate }}"
                                   data-min-date="{{overTimeMinDate}}" data-max-date="{{overTimeMaxDate}}">

                        </div>
                        <div class="form-group col-md-4">
                            <input id="time_start_modal" name="startTime" class="form-control validation" maxlength="5" placeholder="{{ 'Start' | translate }}"
                                   ng-model="overNight.start.time" over-night-validator="{{overNight.end.time}}"
                                    timepicker-modal>
                        </div>
                        <div class="form-group col-md-4 ">
                            <input id="time_end_modal" name="endTime" class="form-control validation" maxlength="5" placeholder="{{ 'End' | translate }}"
                                   ng-model="overNight.end.time" over-night-validator="{{overNight.start.time}}" timepicker-modal>
                        </div>
                        <!--<div class="form-group col-md-4 ">-->
                            <!--<div ng-show="overNightForm.startTime.$invalid || overNightForm.endTime.$invalid">Some error</div>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close' | translate }}</button>
                    <button id="multitrip_save" type="button" class="btn btn-primary"
                            ng-disabled="overNightForm.startTime.$invalid || overNightForm.endTime.$invalid" ng-click="overNightSave()">{{ 'SaveChanges' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
    <div class="tab-pane" id="sheet_overview"  ng-controller="overview_controller">
        <div class="col-md-12">
            <div class="col-md-4 margin_bottom_20" ng-controller="DatepickerDemoController">
                <div class="col-md-2"><h4>Period: </h4></div>
                <div class="col-md-7">
                    <input id="overview_calendar" type="text" class="form-control"
                                             ng-model="selectedDate" name="date" bs-datepicker
                                             data-min-date="{{$root.minDate}}" data-max-date="{{$root.maxDate}}">
                </div>
                <div class="col-md-3"><button id="overview_submit" class="btn btn-warning btn-block">{{ 'Apply' | translate }}</button></div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
               <h4>Select weeks:</h4>
                <select id="overview_week_select" multiple class="form-control">
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                    <option value="4"></option>
                </select>
            </div>
            <div class="col-md-6 col-md-offset-1">
                <p class="font_size_18" ng-repeat="totalTime in totalTimes">{{ 'TotalHours' | translate }} {{totalTime.tolalProc}} {{ 'worked' | translate }}: <span id="overview_total{{totalTime.overviewId}}"></span></p>
            </div>
            <div class="col-md-12">
                <button id="download_pdf_btn" class="btn btn-warning margin_top_15 col-md-1 disabled">{{ 'DownloadPDF' | translate }}</button>
            </div>
        </div>
    </div>
      <div class="tab-pane" id="declaretion" ng-controller="declaration_controller">
      <div class="col-md-2 padding_fix">
          <h4 class="text-right">{{ 'KortenDeclaration' | translate }}:</h4>
      </div>
          <div class="form-group col-md-3" ng-class="{'has-error': datepickerForm.date.$invalid}">
              <input id="declaration_calendar" type="text" class="form-control" ng-model="selectedDate" name="date"
                     bs-datepicker data-min-date="{{$root.minDate}}" data-max-date="{{$root.maxDate}}" >
          </div>
          <div class="col-md-1">
              <button id="declaration_submit" class="btn btn-warning btn-block" ng-click="applyDate()">{{ 'Apply' | translate }}</button>
          </div>

          <div class="col-md-2 col-md-offset-1">
              <p class="font_size_18 text-center">{{ 'Total' | translate }}: {{total}}</p>
          </div>
          <div class="col-md-2 col-md-offset-1">
              <button id="declaration_save" class="btn btn-block btn-success" ng-click="save()">{{ 'Save' | translate }}</button>
          </div>
      <hr class="col-xs-12 padding_fix margin_top_fix">
      <div class="col-md-12 declaration_row" ng-repeat="day in days">
          <div class="col-md-2 text-center font_size_18">
              {{day.date}}
          </div>
          <div class="margin_bottom_10_declaration_row" ng-repeat="declaration in day.declarations">
              <div class="col-md-4 " ng-class="{'col-md-offset-2': $index != 0}">
                  <select class="form-control type_food"
                          ng-model="declaration.costType"
                          ng-options="costType.id as costType.name for costType in costTypes" ng-show="declaration.active && activeV"></select>
                  <div class="font_size_18" ng-show="!declaration.active || !activeV">
                        {{costTypes[declaration.costType].name}}
                  </div>
              </div>
              <div class="col-md-2 declaration_price">
                  <input type="text" class="form-control" placeholder="Cost" ng-change="calculateTotal()"
                                                             ng-model="declaration.price" ng-show="declaration.active && activeV">
                  <div class="font_size_18" ng-show="!declaration.active || !activeV">
                      {{declaration.price}}
                  </div>
              </div>
              <div class="col-md-1">
                  <button class="btn btn-block btn-warning declaration_add_row"
                          ng-show="$index == 0" ng-click="addRow($parent.$index)">Add
                  </button>
                  <button class="btn btn-block btn-danger declaration_del_row" ng-show="declaration.active && $index > 0"
                          ng-click="removeRow($parent.$index, $index)">Delete
                  </button>
              </div>
          </div>
          <hr class="col-xs-12 padding_fix margin_top_fix">
      </div>
  </div>
<div class="tab-pane font_size_18" id="settings">
         <div class="col-md-4 col-md-offset-8"><h3>{{'ScheduledWorkours' | translate}}</h3></div>
   <div class="col-md-4">
       <div class="margin_bottom_10">
    <input id="allow_saturday_compensation" type="checkbox" name="my-checkbox"><span class="padding_left_5">{{'UseSaturdayHoursAsTFT' | translate}}</span>

</div>

   </div>
       <div class="col-md-4">
    <input type="text" class="form-control" ng-model="selectedDate" name="date" bs-datepicker placeholder="{{'StartTFTRegulation' | translate}}">

      </div>
       <div class="col-md-4" ng-controller="settings_controller">
      	 <input ng-repeat="day in days" id="settings_{{day.settingsDay}}" type="text" class="form-control margin_bottom_10 positive-integer"  placeholder="{{day.day}}">
      </div>
   <div class="col-md-12">
        <div class="col-md-4">
        </div>
            <div class="col-md-4">
              <div class="col-xs-12 padding_fix text-center"><label>{{'Period' | translate}}</label></div>
              <div class="form-group">
    <div class="form-group col-xs-6">

   <p class="text-center" id="start_period">start_period</p>
    </div>
    <div class="form-group col-xs-6">
   <p class="text-center" id="end_period">end_period</p>
    </div>
  </div>
   </div>
   </div>
             <button id="setting_save" class="btn btn-success margin_top_10 col-md-4 pull-right" disabled = "disabled" >{{'Save' | translate}}</button>
          </div>
        </div>
      </div>
                          </div>
                        </div>
                      </div>
                    </div>
        <div class="footer">
			<div class="container">
			<div class="social-bl">
			</div>
			</div>
		</div>  
     <script src="resources/js/angular-animate.js"></script>
     <script src="resources/js/angular-sanitize.min.js"></script>
     <script src="resources/js/angular-strap.min.js"></script>
     <script src="resources/js/angular-strap.tpl.min.js"></script>
     <script src="resources/js/dateTools.js"></script>
     <script src="resources/js/jquery-2.1.1.min.js"></script>
     <script src="resources/js/bootstrap.min.js"></script>
     <script src="resources/js/validator.js"></script>
     <script src="resources/js/userdata.js"></script>
     <script src="resources/js/autorization.js"></script>
     <script src="resources/js/numeric.js"></script>
     <script src="resources/js/bootstrap-switch.js"></script>
     <script src="resources/js/bootstrap-clockpicker.min.js"></script>
     <script src="resources/js/jsPDF/FileSaver.js"></script>
     <script src="resources/js/jsPDF/jspdf.js"></script>
     <script src="resources/js/jsPDF/jspdf.plugin.table.js"></script>
     	<script type="text/javascript">
        $(".positive-integer").numeric({ decimal: false, negative: false }, function() { alert("Positive integers only"); this.value = ""; this.focus(); });   
        $("[name='my-checkbox']").bootstrapSwitch();

    $(".decimal-2-places").numeric({ decimalPlaces: 2 });
      </script>
  </body>
</html>